<html>
    <head>
        <title>My page!!!</title>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='procedure_status.css') }}">
        <script src='/static/plotly-2.35.2.min.js'></script>
    </head>
    <body>
        <!-- <img src="static/test.jpg" /> -->
        <div>
            {% if not home %}
                <a href="/main">Back</a>
            {% endif %}
        </div><br><br>
		
		{% block content %}{% endblock %}
		
	</body>
</html>